aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
click
datasets
dill
elevenlabs
fastapi==0.109.0
filelock
frozenlist
fsspec
h11
httpcore
httptools
httpx
huggingface-hub
idna
Jinja2
llvmlite
MarkupSafe
more-itertools
mpmath
multidict
multiprocess
networkx
numba
numpy==1.26.3
openai-whisper
packaging
pandas
propcache
pyarrow
pydantic
pydantic_core
pydub
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
regex
requests
safetensors
scipy
six
sniffio
starlette
sympy
tiktoken
tokenizers
torch==2.1.2
torchaudio==2.1.2
tqdm
transformers==4.37.2
typing_extensions
tzdata
urllib3
uvicorn==0.27.0
uvloop
watchfiles
websockets
xxhash
yarl
accelerate==0.26.1
soundfile==0.12.1
