aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
click
datasets
dill
elevenlabs
fastapi
filelock
frozenlist
fsspec
h11
httpcore
httptools
httpx
huggingface-hub
idna
Jinja2
llvmlite
MarkupSafe
more-itertools
mpmath
multidict
multiprocess
networkx
numba
numpy
openai-whisper
packaging
pandas
propcache
pyarrow
pydantic
pydantic_core
pydub
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
regex
requests
safetensors
scipy
six
sniffio
starlette
sympy
tiktoken
tokenizers
torch
torchaudio
tqdm
transformers
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
xxhash
yarl
accelerate
soundfile
